h1
{
	text-align: center;
}

#GameWrapper
{
	width: 41%;
	margin: auto;	
}

#GameWrapper2
{
	width: 779px;
	margin: auto;
}

#BoardWrapper
{
	width: 530px;
	/*width: 100%;*/
	margin: auto;
	display: inline-block;
}

#Board
{
	/*width: 100%;*/
	margin: auto;
}

.matrixRow
{

}

.matrixBlock
{
	width: 100px;
	display: inline-block;
	height: 100px;
	border-style: solid;
}

.highlightedBlock
{
	background-color: yellow;
}

.selectedBlock
{
	background-color: green;
}

.occupied
{
	background-image: url('./img/Bylet.png');
	z-index: 4;
}

.characterWrapper
{
	width: 100%;
	height: 100%;
}

.characterSprite
{
	width: 100%;
	height: 100%;
	width: 80px;
	height: 80px;
	margin: 7px;
	margin-left: 16px;
	margin-top: 16px;
}

#Stats
{

}

.characterPortraitWrapper
{
	width: 60%;
	display: inline-block;
	border-style: solid;
}

.characterPortrait
{
	width: 100%;
	height: 192px;
	width: 60%;
	margin-left: 20%;
}

.valuesWrapper
{
	width: 38.86%;
	height: 184px;
	position: relative;
	float: right;
}

.value
{
	height: 10.2%;
	text-align: center;
	padding: 10%;
	border-style: solid;
}

.characterName
{

}

#PS
{

}

#DuelWrapper
{
	display: none;
}

#ButtonWrapper
{
	height: 80px;
}

.duelMenuButton
{
	display: block;
	margin: auto;
	width: 100%;
	height: 50%;
	border-top-width: 0px;
	border-top-style: solid;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	color: black;
	font-weight: bold;
	border-right-width: 0px;
	border-right-style: solid;
	border-left-width: 0px;
	border-left-style: solid;
}

#DuelButton
{
	background-color: rgb(172, 29, 29);
}

.damage
{
	color: red;
}

#UndoButton
{
	background-color: rgb(83, 130, 233);
}

/*Areas*/
.movementBlock
{
	background-color: rgb(92, 154, 235);
}

.attackBlock
{
	background-color: red;
}

/*Turn Buttons*/
#TurnTableWrapper
{
	
}

#TurnTable
{
	border-style: solid;
	background-color: rgb(0, 0, 0); 
	margin: auto;
}

#TurnTableBody
{
	border-style: solid;
}

.turnTableBlock
{
	border-style: solid;
}

.turnWrapper
{
	display: inline-block;
	margin-top: -80%;
	text-align: center;
	height: 46px;
	width: 120px;
}

#BlueTurnWrapper
{
	background-color: #7ba2ff;
}

#RedTurnWrapper
{
	background-color: #ff5050;
}

.turnTitle
{
	height: 50%;
	width: 100%;
}

#BlueTurnTitle
{

}

#RedTurnTitle
{

}

.turnButton
{
	color: black;
	width: 100%;
	height: 50%;
}

#BlueTurnButton
{
	background-color: #7ba2ff;
}

#RedTurnButton
{
	background-color: #ff5050;
}
