body
{
	background-image: url(./../img/Backgrounds/gameBackground.jpg);
	margin: 0;
	height: 100%;
	width: 100%;
}

#ModalResult
{
	display: none;
}

.selectionWrapper
{
	text-align: center;
    border-bottom-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    font-weight: bold;
    font-size: 18px;
}

.itemSelectionWrapper
{
    background-color: rgba(119, 14, 119, 0.65);
}

.difficultySelectionWrapper
{
    background-color: rgba(160, 11, 31, 0.65);
}

#SubmitWrapper
{
	display: flex;
	align-items: center;
	justify-content: center;
}

#Submit
{

}

#TitleImage
{
	background-color: #edbcff5e;
}

/*
#TitleWrapper
{
	background-color: #edbcff5e;
	width: 20%;
}
*/
h1
{
	text-align: center;
}

#ExitOption
{
	position: fixed;
    top: 0;
    margin-top: 12px;
}

#GameWrapper
{
	margin: auto;	
}

#GameWrapper2
{
	margin: auto;
	width: 100%;
	display: flex;
	justify-content: center;
}

#BoardWrapper
{
	/*width: 100%;*/
	margin: auto;
	display: inline-block;
	background-image: url(./../img/Backgrounds/boardBackground.jpg);
}

#Board
{
	/*width: 100%;*/
	margin: auto;
}

.matrixRow
{
	height: 86px;
}

.matrixBlock
{
	width: 80px;
	display: inline-block;
	height: 80px;
	border-style: solid;
	opacity: 0.9;
}

.blueTeamBlock
{
	background-color: blue;
}

.redTeamBlock
{
	background-color: rgb(172, 29, 29);
}

.obstacleBlock
{
	background-image: url(./../img/Icons/mountain.png);
}

.highlightedBlock
{
	background-color: yellow;
}

.selectedBlock
{
	background-color: green;
}

.characterWrapper
{
	width: 100%;
	height: 100%;
}

.characterSprite
{
	width: 60px;
	height: 60px;
	margin-left: 10px;
	margin-top: 11.5px;
	margin-bottom: 11.5px;
}

.stats
{
	height: 149px;
	width: 774px;
}

.characterPortraitWrapper
{
	width: 43.7%;
	height: 97.5%;
	display: inline-block;
	border-style: solid;
}

.characterPortrait
{
	height: 100%;
	width: 48%;
	margin: auto;
	display: none;
}

.valuesWrapper
{
	width: 55.5%;
	height: 149px;
	position: relative;
	float: right;
}

.value
{
	height: 44.2px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-style: solid;
}

.armorImage
{
	margin-left: 10px;
}

.weaponImage
{
	margin-left: 10px;
    height: 50%;
}

p
{

}

.valueText
{
	font-size: 24px;
	font-weight: bold;
}

.characterName
{

}

#PS
{

}

#DuelWrapper
{
	display: none;
}

#ButtonWrapper
{
	height: 80px;
}

.duelMenuButton
{
	display: block;
	margin: auto;
	width: 100%;
	height: 50%;
	border-top-width: 0px;
	border-top-style: solid;
	border-bottom-width: 0px;
	border-bottom-style: solid;
	color: black;
	font-size: 20px;
	font-weight: bold;
	border-right-width: 3px;
	border-right-style: solid;
	border-left-width: 3px;
	border-left-style: solid;
	border-color: black;
}

#DuelButton
{
	background-color: rgb(172, 29, 29);
}

.damage
{
	color: #960e0e;
}

#UndoButton
{
	background-color: rgb(83, 130, 233);
}

/*Areas*/
.movementBlock
{
	background-color: rgb(92, 154, 235);
}

.attackBlock
{
	background-color: red;
}

/*Turn Buttons*/
tr, th, td
{
	border-style: solid;
	border-width: 5px;
}

#TurnTableWrapper
{
	
}

#TurnTable
{
	border-style: solid;
	border-collapse: collapse;
	margin: auto;
}

#TurnTableBody
{
	border-style: solid;
}

.turnTableBlock
{
	border-style: solid;
}

.teamStatsWrapper
{
	display: inline-block;
	text-align: center;
	height: 200px;
	width: 150px;
}

.teamStatsTable
{
	width: 100%;
	height: 100%;
	border-style: solid;
	border-width: 5px;
	border-collapse: collapse;
}

#BlueStatsTable
{
	background-color: rgba(123, 162, 255, 1);
}

#RedStatsTable
{
	background-color: rgba(255, 80, 80, 1);
}

.teamStatsTitle
{
	height: 50%;
	width: 100%;
}

.statTitle
{

}

.counter
{
	text-align: center;
}

.score
{
	text-align: center;
}

#BlueStatsTitle
{

}

#RedStatsTitle
{

}

.turnButton
{
	color: black;
	font-weight: bold;
	width: 100%;
	height: 100%;
}

#BlueTurnButton
{
	background-color: #7ba2ff;
}

#RedTurnButton
{
	background-color: #ff5050;
}

#ModalResultContent
{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.resultText
{
	text-align: center;
    font-size: 40px;
    font-weight: bold;
}