body
{
	background-image: url(./../img/Backgrounds/menuBackground.jpg);
	margin: 0;
}

#Wrapper
{
    width: 100%;
    display: flex;
    justify-content: center;
}

#MenuWrapper
{
    height: 32%;
    width: 15%;
    background-color: #ffffffcc;
    padding: 20px;
    padding-top: 0px;
    border-style: solid;
    border-color: #9c089c;
    border-width: 6px;
    border-radius: 11px;
    text-align: center;
    top: 5%;
    position: relative;
}

#Menu
{
    
}

#UserInformationsWrapper
{
    border-bottom-style: solid;
    height: 60px;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
}

#UserInformations
{
    font-size: 22px;
    font-weight: bolder;
}