body
{
	background-image: url(./../img/Backgrounds/menuBackground.jpg);
    margin: 0;
    height: 100%;
	width: 100%;
}

#UserInformationsWrapper
{
    border-bottom-style: solid;
    border-top-style: solid;
    background-color: rgba(158, 24, 158, 0.62);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#UserInformations
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#UserInformationsText
{
    font-size: 22px;
    font-weight: bolder;
}

#ExitOption
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#RankingWrapper
{
    margin: auto;
    /*margin-top: 25px;*/
    width: 90%;
    overflow-y: auto;
    max-height: 70%;
    border-style: solid;
    border-width: 4px;
    border-color: gray;
    border-radius: 4px;
}

#RankingCaption
{
    text-align: center;
    font-size: 32px;
}

#RankingTable
{
    border-style: solid;
	border-collapse: collapse;
    height: 100%;
    width: 100%;
}

.record
{
    background-color: rgba(0, 136, 255, 0.9);
}

.recordValue
{
    border-style: solid;
    padding: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    margin: 0px;
    text-align: center;
}

.rankingHeader:hover
{
    cursor: pointer;
    background-color: blue;
}

.recordHeaders
{
    background-color: rgba(158, 24, 158, 0.9);
}

.userRecord
{
    background-color: rgba(151, 9, 33, 0.9);
}

#RankingCaption
{
    background-color: rgba(158, 24, 158, 0.9);
    font-weight: bolder;
    border-style: solid;
    border-bottom-style: none;
}

#ModalText
{
    font-size: 25px;
    font-weight: bolder;
}

#ModalMenuContent
{
    height: 30%;
    margin-top: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalButton
{
    margin: 24px;
}

#ModalMenu
{
    display: none;
}