body
{
	background-image: url(./../img/Backgrounds/menuBackground.jpg);
    margin: 0;
    height: 100%;
	width: 100%;
}

#ModalMenu
{
    display: none;
}

#ModalBuyResult
{
    display: none;
}

p
{

}

#contentWrapper
{
    display: flex;
    height: 740px;
    width: 100%;
    align-items: center;
}

#StoreContainer
{
    width: 70%;
    height: 100%;
}

#WeaponWrapper
{
    width: 75%;
    /*display: inline-block;*/
    /* height: 830px; */
    position: relative;
    float: left;
}

#ArmorWrapper
{
    width: 24%;
    display: inline-block;
    height: 739px;
    position: relative;
    /* top: -47px; */
}

.weaponSection
{
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    background-color: #0088ff73;
    overflow-x: auto;
}

#ArmorSection
{
    height: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    background-color: #0088ff73;
    flex-direction: column;
    overflow-y: auto;
}

.informationsWrapper
{
    height: 100%;
    width: 50%;
}

.item
{
    height: 230px;
    width: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3d3d399;
    border-style: solid;
    margin-left: 3px;
    margin-right: 3px;
}

.itemImage
{
    height: 100%;
    width: 50%;
    border-style: solid;
}

.valueWrapper
{
    border-style: solid;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 31%;
}

.itemTitle
{
    margin: 0px;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}

.itemValue
{
    margin: 0px;
    text-align: center;
    font-size: 16px;
}

.itemName
{
    margin: 0;
    text-align: center;
    border-style: solid;
    width: 100%;
    height: 9%;
}

.purchasable
{
    background-color: rgba(144, 238, 144, 0.7);
}

.bought
{
    background-color: rgba(192, 43, 43, 0.7);
}

#UserInformationsWrapper
{
    border-bottom-style: solid;
    border-top-style: solid;
    background-color: rgba(158, 24, 158, 0.62);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#UserInformations
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalText
{
    font-size: 25px;
    font-weight: bolder;
}

.modalContent
{
    height: 30%;
    margin-top: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ModalMenu
{
    display: none;
}

.modalButton
{
    margin: 24px;
}

#ModalBuyResult
{
    display: none;
}

#ExitWrapper
{
    display: flex;
    width: 12%;
    height: 12%;
    align-items: center;
    justify-content: center;
    background-color: #ffffffcc;
    border-style: solid;
    border-color: #9c089c;
    border-width: 6px;
    border-radius: 11px;
    margin-left: 135px;
}

#ExitButton
{
}